
@import 'header';



html,body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.2) ),url("../img/rick-and-morty-BG.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main{
    .container{
        width: 100%;
        max-width: 1400px;
        margin: 100px auto;
        .page-numbers{
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                width: 50px;
                height: 50px;
                color: #ffffff;
                cursor: pointer;
                border: 2px solid $green;
                outline: none;
                border-radius: 10px;
                margin: 4px;
                font-size: 1.1em;
                
                &:hover{
                    background-color: $green;

                }
            }
        }
        .character-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .character{
                height: 450px;
                width: 290px;
                background-color: rgba(0, 0, 0, 0.6);
                border: 5px solid $green   ;
                margin-bottom: 30px;
                border-top-left-radius:30px ;
                border-bottom-right-radius:30px ;
                overflow: hidden;
                box-shadow: 0px 0px 20px black;
                pos
                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
                h2{
                    color: #ffffff;
                    text-align: center;
                    font-size: 18px;
                    margin-top: 20px;
                }

                .like{
                    cursor: pointer;
                    color: #ffffff;
                    border: 1px solid $green ;
                    width: 50%;
                    margin: 0 auto;
                    text-align: center;
                    border-radius: 10px;
                    margin-top: 30px;
                    padding: 5px;
                    &:hover{
                        background-color: $green ;
                    }
                    
                }
            }
        }
    }
}

.active{
    background-color: $green;
}
